#Submit {
  position: relative;
  margin-inline: 0px 50px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#URL {
  position: relative;
  margin-inline: 0px 50px;
  padding: 0px;
  padding: 0;
  height: 30px;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px;
}

#Sep {
  padding: 0px;
}
#header {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text; 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
